.container {
  box-sizing: border-box;
  height: 40px;
  padding-top: 9px;
  border: 1px solid #ccc;
}

.item {
  display: inline-block;
  line-height: 22px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}
.item:hover {
  color: #999;
}